.historico-wrapper {
    /* background: #fff; */
    padding: 30px;
    border-radius: 12px;
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
     width: 95%;           /* não deixar 100% + padding causar overflow */
    max-width: 1200px;    /* largura máxima */
    margin: 20px auto;    /* centraliza */
    overflow-x: hidden;   /* se sobrar algo, corta */
}

.historico-wrapper h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 60px;
    margin-left: 3vw;
    margin-top: 1vw;
    /* color: #111827; */
}

.filter {
    display: flex;
    margin-left: 860px;
    gap: 10px;
    margin-bottom: 15px;
    width: 30%; /* ocupa toda a largura do container */
    box-sizing: border-box; /* evita ultrapassar */
}

.filter input,
.filter select {
    padding: 8px 12px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
}

.filter input:focus,
.filter select:focus {
    border: 0.01px solid transparent;
    background-image: linear-gradient(#fff, #fff),
                      linear-gradient(120deg, #b91010, #ff4d4d, #b91010);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    box-shadow: 0 0 2px rgba(185, 16, 16, 0.7);
    transition: all 0.2s ease-in-out;
}

table {
    width: 150vh;
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: 10vw;
}

thead {
    background: #f9fafb;
}

th,
td {
    padding: 12px 16px;
    text-align: center;
    border-bottom: 1px solid #e5e7eb;
    font-size: 14px;
}
